%h1.font-bold.text-4xl Mixer
.flex.justify-between.items-center
  %div{class: 'w-[500px]'}
    .player.plyr__video-embed{'data-id': 'player1'}
      %iframe{src: 'https://www.youtube.com/embed/agarhXlrhnc?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1'}
  %div{class: 'w-[500px]'}
    .player.plyr__video-embed{'data-id': 'player2'}
      %iframe{src: 'https://www.youtube.com/embed/agarhXlrhnc?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1'}
