.mt-20.flex.flex-col.items-center
  %h1.font-bold.text-5xl.text-center{class: 'max-w-[800px]'}
    Mix YouTube tracks for the perfect ambience
    -# Create ambient mixes from YouTube videos
  %h2.mt-6.text-2xl.text-center.leading-tight{class: 'max-w-[550px]'}
    Play multiple YouTube videos simultaneously and get the mood exactly right.
  %a.mt-10.button.border-4.border-green-300.text-xl.bg-green-500.text-white.hover:border-green-400.hover:bg-green-600.transition{href: new_mix_path}
    Create a mix
  .mt-3.opacity-60
    or
    %a{href: root_path(anchor: 'popular')} explore popular mixes
  %ul.mt-10.flex.flex-col.text-sm.opacity-70.gap-2
    %li 🌧️&nbsp;&nbsp;Add rain sounds to your favorite ambient track
    %li 🔥&nbsp;&nbsp;Combine a lo-fi playlist with a crackling fireplace
    %li 🌴&nbsp;&nbsp;Listen to your favorite focus playlist in a thunderstorm

  %h3#popular.mt-20.text-3xl.font-bold.text-center Explore popular mixes
  %ul.mt-10.flex.flex-col.gap-2
    - @mixes.each do |mix|
      %li
        %a{href: mix_path(slug: mix.slug)}
          #{mix.id} #{mix.name} (#{mix.videos.count})
