= render partial: 'partials/nav'

- if @errors.present?
  = @errors

%h1.text-6xl.font-display.text-center{style: 'text-shadow: 3px 3px lightblue'} Create your mix

= render partial: 'partials/videos_form'
