- content_for :head do
  = javascript_import_module_tag 'plyr_setup'

= render partial: 'partials/nav'

- if @errors.present?
  = @errors

%h1.mt-16.text-center.text-2xl.font-bold Create new mix

= render partial: 'partials/videos_form'
