%div{class: 'w-[500px]', 'data-yt-video-id': video.yt_video_id, 'data-volume': video.volume}
  = video.yt_video_id
  = video.volume
  %iframe{id: video.yt_video_id, type: "text/html", width: "500", height: "290", src: embed_url(video)}
